<div class="post-meta">
    <%- partial('date', {class_name: 'article-date', date_format: 'DD MMMM YYYY'}) %>
    <%- partial('author') %>
    <%- partial('category') %>
    <span><i class="fa fa-comments"></i> <a href="<%- post.permalink%>">Second article</a></span>
</div>
